<footer id="footer">
    <div class="footer-title">
        <div>
            <a href="">
                <h3>Orkids School</h3>
            </a>
        </div>
        <div class="socials">
            <a href="https://web.facebook.com/profile.php?id=100086625846353" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </div>
    <div class="content">
        <div class="about-foot">
            <h4>About Us</h4>
            <p>We are dedicated to promoting healthier and more educated lives for all, breaking barriers, and
                fostering positive change within communities.</p>
            <div class="">

            </div>
            <div class="">
                <h5 class="news">Sign Up For Our News Letter</h5>
            </div>
            <div class="email">
                <div class="subscription">
                    sign up successful!
                </div>
                <form id="subscribeForm" action="/subscribe" method="POST">
                    <input id="emailInput" type="email" placeholder="Email Address" name="Email">
                    <button type="submit" value="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="contact">
            <h4>Contact</h4>
            <div class="sub-cont">
                <i class="fa-solid fa-location-dot"></i>
                <div class="loc">
                    <p>Address</p>
                    <p><strong>15 Edinburgh Rd, Enugu </strong></p>
                </div>
            </div>
            <div class="sub-cont">
                <i class="fa-solid fa-phone"></i>
                <div class="loc">
                    <p>Phone Number</p>
                    <p><strong><a href="tel:+1234567890">Call Us</a></strong></p>
                </div>

            </div>
            <div class="sub-cont">
                <i class="fa-solid fa-envelope"></i>
                <div class="loc">
                    <p>Email</p>
                    <p><strong>toobhef@gmail.com</strong></p>
                </div>

            </div>
        </div>
        <div class="events">
            <h4>Recent Events</h4>

            <div class="event">
                <div class="img12">
                    <img src="/pictures/teacher-1.jpg.webp" alt="">
                </div>
                <div class="">
                    <strong>Medical Outreach Eziagu</strong>
                    <p><i class="fa-regular fa-calendar-days"></i> April 3, 2023</p>
                </div>
            </div>

            <div class="event">
                <div class="img12">
                    <img src="/pictures/teacher-2.jpg.webp" alt="">
                </div>
                <div class="">
                    <strong>Medical Outreach Eziagu</strong>
                    <p><i class="fa-regular fa-calendar-days"></i> April 3, 2023</p>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div class="top"><a href="#" id="backToTop"><i class="fa-solid fa-arrow-up"></i></a></div>
</footer>  
<script src="/school.js"></script> 