    <%- include("partials/header.ejs") %>
    <section class="events-image-background">
        <div class="event-section-container">
            <div class="events-overlay"></div>
            <div class="events-image-background-container">
                <div class="events-content">
                    <h2>
                        About
                    </h2>
                    <p>
                        Home > about     
                    </p>
                </div>
            </div>
        </div>
    </section>
    <main>
        <section>
            <div class="outer-container">
                <div class="container11 about-container1">
                    <div class="event-header1">
                        <h2><span class="event-span">About</span> Us</h2>
                        <p class="">
                            Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                        </p>
                    </div>
                    <div class="about-us-container first-aboutus fade-in-up">
                        <div class="about-content-container">
                            <div class="about-content">
                                <h3>Our History</h3>
                                <p class="aboutus">
                                    Lorem ipsum dolor sit amet consectetur. Amet viverra tristique condimentum egestas risus eget. Lectus adipiscing mauris tortor odio venenatis fusce. Vestibulum ut aliquam purus congue mattis curabitur tellus. Risus orci diam congue quam porttitor lacinia vel mollis elementum.Lorem ipsum dolor sit amet consectetur. Amet viverra tristique condimentum egestas risus eget. Lectus adipiscing 
                                </p>
                            </div>  
                            <div class="about-img">
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="outer-container1">
                <div class="container11 about-container fade-in-up" >
                    <div class="about-content-container">
                        <div class="about-img1">
                        </div>
                        <div class="about-content1">
                            <h3>Our History</h3>
                            <p class="aboutus">
                                Lorem ipsum dolor sit amet consectetur. Amet viverra tristique condimentum egestas risus eget. Lectus adipiscing mauris tortor odio venenatis fusce. Vestibulum ut aliquam purus congue mattis curabitur tellus. Risus orci diam congue quam porttitor lacinia vel mollis elementum.Lorem ipsum dolor sit amet consectetur. Amet viverra tristique condimentum egestas risus eget. Lectus adipiscing 
                            </p>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="outer-container1">
                <div class="container11 about-container fade-in-up">
                    <div class="about-us-container">
                        <div class="about-content-container">
                            <div class="about-content">
                                <h3>Our History</h3>
                                <p class="aboutus">
                                    Lorem ipsum dolor sit amet consectetur. Amet viverra tristique condimentum egestas risus eget. Lectus adipiscing mauris tortor odio venenatis fusce. Vestibulum ut aliquam purus congue mattis curabitur tellus. Risus orci diam congue quam porttitor lacinia vel mollis elementum.Lorem ipsum dolor sit amet consectetur. Amet viverra tristique condimentum egestas risus eget. Lectus adipiscing 
                                </p>
                            </div>  
                            <div class="about-img2">
                            </div>
                        </div>
    
                    </div> 
                </div>
            </div>
            <div class="outer-container1">
                <div class="container11 about-container fade-in-up">
                    <div class="about-us-container">
                        <div class="about-content-container">
                            <div class="about-img3">
                            </div>
                            <div class="about-content1">
                                <h3>Our History</h3>
                                <p class="aboutus">
                                    Lorem ipsum dolor sit amet consectetur. Amet viverra tristique condimentum egestas risus eget. Lectus adipiscing mauris tortor odio venenatis fusce. Vestibulum ut aliquam purus congue mattis curabitur tellus. Risus orci diam congue quam porttitor lacinia vel mollis elementum.Lorem ipsum dolor sit amet consectetur. Amet viverra tristique condimentum egestas risus eget. Lectus adipiscing 
                                </p>
                            </div>  
                        </div>
                    </div> 
                </div>
            </div>
            <div class="outer-container1">
                <div class="container11 about-container fade-in-up">
                    <div class="about-us-container">
                        <div class="about-content-container">
                            <div class="about-content">
                                <h3>Our History</h3>
                                <p class="aboutus">
                                    Lorem ipsum dolor sit amet consectetur. Amet viverra tristique condimentum egestas risus eget. Lectus adipiscing mauris tortor odio venenatis fusce. Vestibulum ut aliquam purus congue mattis curabitur tellus. Risus orci diam congue quam porttitor lacinia vel mollis elementum.Lorem ipsum dolor sit amet consectetur. Amet viverra tristique condimentum egestas risus eget. Lectus adipiscing 
                                </p>
                            </div>  
                            <div class="about-img4">
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="outer-container">
                <div class="container11 about-container1 ">
                    <div class="about-us-container23">
                        <h3>
                            discover more
                        </h3>
                        <div class="discover-cards">
                            <div class="fade-in-up">
                                <a href="/">
                                    <div class="discover-card1"></div>
                                    <p>home page</p>
                                </a>
                            </div>
                            <div class="fade-in-up">
                                <a href="/events">
                                    <div class="discover-card1"></div>
                                    <p>events</p>
                                </a>
                            </div>
                            <div class="fade-in-up">
                                <a href="/about">
                                    <div class="discover-card1"></div>
                                    <p>about us</p>
                                </a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
    </main>
    <%- include("partials/footer_events.ejs") %> 
        
