<%- include("partials/header.ejs") %>
    <section id="carousel-section "draggable="false">
        <div class="carousel" draggable="false">
            <button class="carousel_button left-carousel-button its_hidden" style="display: none;">
                <!-- <img class="carousel_button" src="./pictures/icons8-left-50.png" alt=""> -->
            </button>
            <div class="carousel_container" draggable="false">
                <ul class="carousel_track" draggable="false">
                    <li class="carousel_slide current_slide">
                        <img class="carousel-img" src="/pictures/bg_11.webp" alt="placeholder">
                    </li>
                    <li class="carousel_slide">
                        <img class="carousel-img" src="/pictures/bg_3.jpg.webp" alt="placeholder">
                    </li>
                    <li class="carousel_slide">
                        <img class="carousel-img" src=".//pictures/bg_22.webp" alt="placeholder">
                    </li>
                </ul>
                <div class="carousel-nav">
                    <button class="carousel_indicator current_slide "></button>
                    <button class="carousel_indicator"></button>
                    <button class="carousel_indicator"></button>
                </div>
            </div>
            <button class="carousel_button right-carousel-button" style="display: none;">
                <!-- <img class="carousel_button" src="./pictures/icons8-right-50.png" alt=""> -->
            </button>
        </div>
    </section">

    <section class="hero-section">
        <div class="main-hero-container">
            <div class="hero-container blue fade-in-up">
                <div class="image-div">
                    <i class="hero-icon fa-solid fa-person-chalkboard "></i>               
                </div>
                <div class="blue">
                    <h2>Certified teachers</h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic</p>
                </div>
            </div>
            <div class="hero-container green fade-in-up">
                <div class="image-div">                 
                    <i class="hero-icon fa-solid fa-book-open-reader"></i>
                </div>
                <div class="green">
                    <h2>Special Education</h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic</p>
                </div>
            </div>
            <div class="hero-container purple fade-in-up">
                <div class="image-div">
                    <i class="hero-icon fa-solid fa-book"></i>         
                </div>
                <div class="purple">
                    <h2>Books & Library</h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic</p>
                </div>
            </div>
            <div class="hero-container red fade-in-up">
                <div class="image-div">
                    <i class="hero-icon hero-icon2 fa-solid fa-award"></i>
                </div>
                <div class="red">
                    <h2>Certification</h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic</p>
                </div>
            </div>
        </div> 
    </section>

    <section id="features">
        <div class="container1">
            <div class="grid-container fade-in-up">
                <h2>What We Offer</h2>
                <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.
                </p>
                <div class="grid-container3">
                    <div class="image-div1">
                        <div class="grid-con-image">
                            <i class="grid d-image fa-solid fa-award"></i>
                        </div>
                        <div>
                            <h3>Safety First</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                        </div>
                    </div>
                    <div class="image-div1">
                        <div class="grid-con-image">
                            <i class="grid d-image fa-solid fa-award"></i>
                        </div>
                        <div>
                            <h3>Safety First</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                        </div>
                    </div>
                    <div class="image-div1">
                        <div class="grid-con-image">
                            <i class="grid d-image fa-solid fa-award"></i>
                        </div>
                        <div>
                            <h3>Safety First</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                        </div>
                    </div>
                    <div class="image-div1">
                        <div class="grid-con-image">
                            <i class="grid d-image fa-solid fa-award"></i>
                        </div>
                        <div>
                            <h3>Safety First</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                        </div>
                    </div>
                    <div class="image-div1">
                        <div class="grid-con-image">
                            <i class="grid d-image fa-solid fa-award"></i>
                        </div>
                        <div>
                            <h3>Safety First</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                        </div>
                    </div>
                    <div class="image-div1">
                        <div class="grid-con-image">
                            <i class="grid d-image fa-solid fa-award"></i>
                        </div>
                        <div>
                            <h3>Safety First</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-container2 fade-in-up">
                <div class="sec_con">
                    <h2>Welcome to Orkids Learning School</h2>
                    <p>
                        On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.
                    </p>
                    <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. And if she hasn't been rewritten, then they are still using her.
                    </p>
                    <div class="section-button">
                        <a href="#">
                            <button class="section-button1">READ MORE</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="image-background">
        <div class="overlay"></div>
        <div class="image-background-container">
            <div class="content">
                <div>
                    <h2>
                        Teaching Your Child Some Good Manners
                    </h2>
                    <p>
                        A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                    </p>
                </div>
                <div class=" image-button">
                    <a href="#">
                        <button class="section-button1">Take a Course</button>
                    </a>
                </div>
            </div>
        </div>

    </section>

    <section id = "teachers-section" class="teachers-section">
        <div class="heading">
            <div class="heading2 fade-in-up">
                <div class=""><h2><span class="teachers-span">Certified  </span>Teachers</h2></div>
                <p class="">
                    Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                </p>
            </div>
            <div class="staff-container">
                <div class="staff-container1">
                    <div class="staff">
                        <div class="image-container-staff fade-in-up">
                            <div class="image-staff">
                                <div class="img">
                                    <!-- <img src="./pictures/teacher-1.jpg.webp" alt="">                                 -->
                                    <div class="social">
                                        <div class="social-box">
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa-solid fa-at"></i></a>
                                        </div>

                                    </div>
                                </div>                   
                            </div>
                            <h3>Bianca Wilson</i></h3>
                            <p>TEACHER</p>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        </div>
                        <div class="image-container-staff fade-in-up">
                            <div class="image-staff">
                                <div class="img">
                                    <!-- <img class="Special-img" src="./pictures/wepik-export-20240105184533kojw.webp" alt=""> -->
                                    <div class="social">
                                        <div class="social-box">
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa-solid fa-at"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Bianca Wilson</h3>  
                            <p>TEACHER</p>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            
                        </div>
                        <div class="image-container-staff fade-in-up">
                            <div class="image-staff">
                                <div class="img">
                                    <!-- <img src="./pictures/teacher-1.jpg.webp" alt=""> -->
                                    <div class="social">
                                        <div class="social-box">
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa-solid fa-at"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Bianca Wilson</h3>  
                            <p>TEACHER</p>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            
                        </div>
                        <div class="image-container-staff fade-in-up">
                            <div class="image-staff">
                                <div class="img">
                                    <!-- <img src="./pictures/teacher-1.jpg.webp" alt=""> -->
                                    <div class="social">
                                        <div class="social-box">
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa-solid fa-at"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Bianca Wilson</h3>  
                            <p>TEACHER</p>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>

                        </div>
                    </div>

                </div>
            </div>  

        </div>

    </section>
    <section class="teachers-section teachers-section2">
        <div class="container">
            <div class="heading2 fade-in-up">
                <h2><span class="teachers-span">Extra   Curricular     </span>   Activities</h2>
                <p class="">
                    Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                </p>
            </div>
            <div class="cards">
                <div class="cards fade-in-up">
                    <div class="card1">
                        <div class="card-image1"></div>
                        <div class="card-details">
                            <h3>
                                Arts Lesson
                            </h3>
                            <p class="class-time">Class time: <span>9:00am - 10am</span</p>
                            <p>
                                Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                            </p>
                        </div>
                    </div>
                    <div class="card1">
                        <div class="card-image1"></div>
                        <div class="card-details">
                            <h3>
                                Arts Lesson
                            </h3>
                            <p>Class time: <span>9:00am - 10am</span</p>
                            <p>
                                Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                            </p>
                        </div>
                    </div>
                </div>                
                <div class="cards fade-in-up">
                    <div class="card1">
                        <div class="card-image1"></div>
                        <div class="card-details">
                            <h3>
                                Arts Lesson
                            </h3>
                            <p class="class-time">Class time: <span>9:00am - 10am</span</p>
                            <p>
                                Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                            </p>
                        </div>
                    </div>
                    <div class="card1">
                        <div class="card-image1"></div>
                        <div class="card-details">
                            <h3>
                                Arts Lesson
                            </h3>
                            <p>Class time: <span>9:00am - 10am</span</p>
                            <p>
                                Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="teachers-section teachers-section2 carousels pad fade-in-up">
        <div class="container">
            <div class="heading2 ">
                <h2><span class="teachers-span">What Parents</span> Say About Us</h2>
                <p class="">
                    Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                </p>
            </div>
        </div>
        <div class="wrapper">
            <i id="left" class="fa-solid fa-angle-left"></i>
            <ul class="carousel1">
                <li class="card">
                    <div class="p-txt2">
                        <p>TOOBHEF's health and education initiatives have significantly impacted lives, providing
                            medical support, scholarships, and hope, paving the way for a brighter future.</p>
                    </div>
                    <div class="img-name ">
                        <div class="img"><img src="/pictures/teacher-1.jpg.webp" alt="img" draggable="false">
                        </div>
                        <div>
                            <span>Micheal Okonkwo</span>
                            <p>Parent</p>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="p-txt2">
                        <p>Having been a beneficiary of TOOBHEF, I can't express enough how they've changed lives for
                            the
                            better.</p>
                    </div>
                    <div class="img-name ">
                        <div class="img"><img src="/pictures/teacher-2.jpg.webp" alt="img" draggable="false"></div>
                        <div>
                            <span>Victor Ejiri</span>
                            <p>Parent</p>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="p-txt2">
                        <p>I volunteered with TOOBHEF and saw firsthand the hope and empowerment they bring to our
                            community.</p>
                    </div>
                    <div class="img-name ">
                        <div class="img"><img src="/pictures/teacher-1.jpg.webp" alt="img" draggable="false"></div>
                        <div>
                            <span>Emeka Charles</span>
                            <p>Parent</p>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="p-txt2">
                        <p>I got a scholarship from TOOBEF. It changed my life. Now, I can go to school and learn. Thank
                            you, TOOBEF!</p>
                    </div>
                    <div class="img-name ">
                        <div class="img"><img src="./pictures/teacher-2.jpg.webp" alt="img" draggable="false">
                        </div>
                        <div>
                            <span>Emmanuel Edeh</span>
                            <p>Parent</p>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="p-txt2">
                        <p>TOOBEF helped my family with health information. We learned about staying healthy, and they
                            care about everyone in our community</p>
                    </div>
                    <div class="img-name ">
                        <div class="img"><img src="./pictures/wepik-export-20240105184533kojw.webp" alt="img" draggable="false"></div>
                        <div>
                            <span>Uzo Rosaline</span>
                            <p>Parent</p>
                        </div>
                    </div>
                </li>

                <li class="card">
                    <div class="p-txt2">
                        <p>"I volunteered with TOOBEF. It was fun and good to help others. TOOBEF is nice and cares
                            about people.</p>
                    </div>
                    <div class="img-name ">
                        <div class="img"><img src="./pictures/wepik-export-20240105184533kojw.webp" alt="img" draggable="false"></div>
                        <div>
                            <span>Blessing Offor</span>
                            <p>Parent</p>
                        </div>
                    </div>
                </li>
            </ul>
            <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
    </section>
    <%- include("partials/footer.ejs") %>

  
</body>
</html>






